absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.6
aiosignal==1.3.1
ale-py==0.10.1
anyio==4.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.2.0
box2d-py==2.3.5
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
clarabel==0.7.1
cloudpickle==3.1.0
cmake==3.25.0
comm==0.2.2
contourpy==1.2.0
cplex==22.1.1.0
cvxpy==1.4.2
cycler==0.12.1
deap==1.4.1
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
docplex==2.25.236
ecos==2.0.13
exceptiongroup==1.2.2
executing==2.1.0
Farama-Notifications==0.0.4
fastjsonschema==2.21.1
filelock==3.13.1
fonttools==4.47.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.10.0
grpcio==1.68.0
gym==0.26.2
gym-games @ git+https://github.com/qlan3/gym-games.git@f1e977d3240ed0a975686ebe72241a8fd34cbe60
gym-notices==0.0.8
gymnasium==1.0.0
h11==0.14.0
-e git+ssh://git@github.com/micc-qiang-research/heft.git@def78f5c404149e4171b69cf4e1dcff5fd9405a9#egg=heft
httpcore==1.0.7
httpx==0.28.1
idna==3.4
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.31.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.3
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
lit==15.0.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.7
mdurl==0.1.2
MinAtar==1.0.15
mistune==3.0.2
mpi4py @ file:///croot/mpi4py_1671223370575/work
mpmath==1.3.0
multidict==6.1.0
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.2
opencv-python==4.10.0.84
osqp==0.6.5
overrides==7.7.0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.3.6
ple @ git+https://github.com/ntasfi/PyGame-Learning-Environment.git@3dbe79dc0c35559bb441b9359948aabf9bb3d331
portion==2.4.2
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
pseudoflow==2022.12.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.12.0
pycparser==2.22
pydot==1.4.2
pygame==2.5.2
pyglet==2.0.20
Pygments==2.18.0
pygraphviz==1.11
pyparsing==3.1.1
python-dateutil==2.8.2
python-json-logger==3.2.1
pytz==2023.3.post1
PyYAML==6.0.2
pyzmq==26.2.0
qdldl==0.1.7.post1
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
scikit-learn==1.6.1
scipy==1.11.4
scs==3.2.4.post1
seaborn==0.13.2
Send2Trash==1.8.3
Shimmy==2.0.0
six==1.16.0
snakeviz==2.2.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stable_baselines3==2.4.0
stack-data==0.6.3
swig==4.3.0
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tomli==2.2.1
torch==2.0.1+cu117
torch-geometric==2.6.1
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tornado==6.4.2
tqdm==4.66.1
traitlets==5.14.3
triton==2.0.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.9.0
tzdata==2023.4
uri-template==1.3.0
urllib3==1.26.13
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
yarl==1.17.2
